@font-face {
  font-family: noto-regular;
  src: url("assets/fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
.description, .card_burger, .b-content-secondary-four, .b-content-secondary-three, .b-content-secondary-two, .b-content-secondary-one {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 45%;
  height: 45%;
  margin: 0.5vw;
}
.description img, .card_burger img, .b-content-secondary-four img, .b-content-secondary-three img, .b-content-secondary-two img, .b-content-secondary-one img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.description h2, .card_burger h2, .b-content-secondary-four h2, .b-content-secondary-three h2, .b-content-secondary-two h2, .b-content-secondary-one h2 {
  text-align: center;
  font-size: 20px;
}
.description p, .card_burger p, .b-content-secondary-four p, .b-content-secondary-three p, .b-content-secondary-two p, .b-content-secondary-one p {
  font-size: 12px;
}
.description .invisible, .card_burger .invisible, .b-content-secondary-four .invisible, .b-content-secondary-three .invisible, .b-content-secondary-two .invisible, .b-content-secondary-one .invisible {
  display: none;
}

.style-button, .b-header-button__signup, .b-header-button__login {
  display: inline;
  border-radius: 20px;
  border: 1px solid #f0a889;
  background-color: #e3581a;
  color: #f0a889;
  width: auto;
  max-height: 40px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  margin-top: 1vh;
}

.radio-buttons, .b-content-primary .radio, .card_burger .b-content-secondary-details .radio, .b-content-secondary-four .b-content-secondary-details .radio, .b-content-secondary-three .b-content-secondary-details .radio, .b-content-secondary-two .b-content-secondary-details .radio, .b-content-secondary-one .b-content-secondary-details .radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #f2f2f2;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
  background-color: #8c8c8c;
}

.radio-checked-buttons, .b-content-primary .radio:checked, .card_burger .b-content-secondary-details .radio:checked, .b-content-secondary-four .b-content-secondary-details .radio:checked, .b-content-secondary-three .b-content-secondary-details .radio:checked, .b-content-secondary-two .b-content-secondary-details .radio:checked, .b-content-secondary-one .b-content-secondary-details .radio:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #e3581a;
  border: 3px solid #f0a889;
  list-style: none;
}

.calories_details, .b-content-primary-details .calories, .card_burger .b-content-secondary-details .calories, .b-content-secondary-four .b-content-secondary-details .calories, .b-content-secondary-three .b-content-secondary-details .calories, .b-content-secondary-two .b-content-secondary-details .calories, .b-content-secondary-one .b-content-secondary-details .calories {
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  font-size: 10px;
  width: 2vw;
  height: 2vw;
  text-align: center;
}

.button_add, .card_burger .b-content-secondary-purchase-btn-add, .b-content-secondary-four .b-content-secondary-purchase-btn-add, .b-content-secondary-three .b-content-secondary-purchase-btn-add, .b-content-secondary-two .b-content-secondary-purchase-btn-add, .b-content-secondary-one .b-content-secondary-purchase-btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #8c8c8c;
  border-radius: 20px;
  width: 110px;
  margin-left: 1vw;
  background-color: #f2f2f2;
  height: 30px;
}
.button_add button, .card_burger .b-content-secondary-purchase-btn-add button, .b-content-secondary-four .b-content-secondary-purchase-btn-add button, .b-content-secondary-three .b-content-secondary-purchase-btn-add button, .b-content-secondary-two .b-content-secondary-purchase-btn-add button, .b-content-secondary-one .b-content-secondary-purchase-btn-add button {
  border: none;
  margin: 0px;
}
.button_add .button-minus, .card_burger .b-content-secondary-purchase-btn-add .button-minus, .b-content-secondary-four .b-content-secondary-purchase-btn-add .button-minus, .b-content-secondary-three .b-content-secondary-purchase-btn-add .button-minus, .b-content-secondary-two .b-content-secondary-purchase-btn-add .button-minus, .b-content-secondary-one .b-content-secondary-purchase-btn-add .button-minus {
  border-right: 1px solid #b3b3b3;
}
.button_add .button-plus, .card_burger .b-content-secondary-purchase-btn-add .button-plus, .b-content-secondary-four .b-content-secondary-purchase-btn-add .button-plus, .b-content-secondary-three .b-content-secondary-purchase-btn-add .button-plus, .b-content-secondary-two .b-content-secondary-purchase-btn-add .button-plus, .b-content-secondary-one .b-content-secondary-purchase-btn-add .button-plus {
  border-left: 1px solid #b3b3b3;
}
.button_add .number, .card_burger .b-content-secondary-purchase-btn-add .number, .b-content-secondary-four .b-content-secondary-purchase-btn-add .number, .b-content-secondary-three .b-content-secondary-purchase-btn-add .number, .b-content-secondary-two .b-content-secondary-purchase-btn-add .number, .b-content-secondary-one .b-content-secondary-purchase-btn-add .number {
  padding-left: 10px;
  padding-right: 10px;
}

.button-shopping, .card_burger .b-content-secondary-purchase-btn-shopping, .b-content-secondary-four .b-content-secondary-purchase-btn-shopping, .b-content-secondary-three .b-content-secondary-purchase-btn-shopping, .b-content-secondary-two .b-content-secondary-purchase-btn-shopping, .b-content-secondary-one .b-content-secondary-purchase-btn-shopping {
  border: 1px solid #86b78a;
  border-radius: 20px;
  height: 30px;
  background-color: #dceadd;
  margin-right: 1vw;
}
.button-shopping .fa-shopping-cart, .card_burger .b-content-secondary-purchase-btn-shopping .fa-shopping-cart, .b-content-secondary-four .b-content-secondary-purchase-btn-shopping .fa-shopping-cart, .b-content-secondary-three .b-content-secondary-purchase-btn-shopping .fa-shopping-cart, .b-content-secondary-two .b-content-secondary-purchase-btn-shopping .fa-shopping-cart, .b-content-secondary-one .b-content-secondary-purchase-btn-shopping .fa-shopping-cart {
  margin-right: 15px;
  font-size: 25px;
  color: #86b78a;
}

.card_burger .b-content-secondary-details, .b-content-secondary-four .b-content-secondary-details, .b-content-secondary-three .b-content-secondary-details, .b-content-secondary-two .b-content-secondary-details, .b-content-secondary-one .b-content-secondary-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_burger .b-content-secondary-details .radio, .b-content-secondary-four .b-content-secondary-details .radio, .b-content-secondary-three .b-content-secondary-details .radio, .b-content-secondary-two .b-content-secondary-details .radio, .b-content-secondary-one .b-content-secondary-details .radio {
  color: #8c8c8c;
}
.card_burger .b-content-secondary-purchase, .b-content-secondary-four .b-content-secondary-purchase, .b-content-secondary-three .b-content-secondary-purchase, .b-content-secondary-two .b-content-secondary-purchase, .b-content-secondary-one .b-content-secondary-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 1vw;
}
body p {
  margin: 1vw;
}

.container {
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.b-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.b-column-left-item {
  height: 50%;
}
.b-column-left .fa {
  margin: 1vw;
}

.b-column-right {
  width: 100%;
  font-family: noto-regular;
  border-left: 1px solid #f2f2f2;
}

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.b-header-menu-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.b-header-menu-input .fa-circle {
  display: none;
  color: #719953;
  padding-left: 1vw;
}
.b-header-menu li {
  list-style: none;
  margin: 1vw;
  font-size: 15px;
}
.b-header-menu-input__active {
  color: #719953;
}
.b-header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
}
.b-header-button__signup {
  margin-right: 2vw;
  margin-left: 10px;
}

.b-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.b-content-primary {
  width: 45%;
  border: 1px solid #f2f2f2;
  margin: 1vw;
  border-radius: 10px;
}
.b-content-primary-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.b-content-primary img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}
.b-content-primary h2 {
  margin: 1vw;
  font-size: 40px;
}
.b-content-primary p {
  margin: 1vw;
}
.b-content-primary-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.b-content-primary-composition-item {
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  font-size: 12px;
}
.b-content-primary-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.b-content-primary-purchase .price {
  font-size: 40px;
}
.b-content-primary-purchase-btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  width: 110px;
  margin-left: 1vw;
  background-color: #f2f2f2;
  height: 30px;
}
.b-content-primary-purchase-btn-add button {
  border: none;
  margin: 0px;
}
.b-content-primary-purchase-btn-add .button-minus {
  border-right: 1px solid #b3b3b3;
}
.b-content-primary-purchase-btn-add .button-plus {
  border-left: 1px solid #b3b3b3;
}
.b-content-primary-purchase-btn-add .number {
  padding-left: 10px;
  padding-right: 10px;
}
.b-content-primary-purchase-btn-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #86b78a;
  border-radius: 20px;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #dceadd;
}
.b-content-primary-purchase-btn-shopping .fa-shopping-cart {
  margin-right: 15px;
  font-size: 25px;
  color: #86b78a;
}
.b-content-primary-purchase-btn-shopping .fa-circle {
  font-size: 5px;
  color: #86b78a;
}
.b-content-primary-purchase-btn-shopping #dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}
.b-content-primary-purchase-btn-shopping #card {
  color: #86b78a;
}
.b-content-secondary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.b-content-secondary-composition {
  display: none;
}
/*# sourceMappingURL=style.css.map */